<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Juto (Maju Resto) | aanevian</title>
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@200;400&display=swap" rel="stylesheet" />
    </head>
    <body>
        <!-- Skip to content -->
        <a href="#main__content" class="skip__content">Skip to content</a>
        <header>
            <!-- Navbar Dekstop -->
            <nav class="navbar">
                <a class="logo" href="#">Juto Apps</a>
                <ul class="nav__list">
                    <li class="nav__item"><a href="">Home</a></li>
                    <li class="nav__item"><a href="#">Favorite</a></li>
                    <li class="nav__item"><a target="_blank" rel="noopener" href="https://aaneviannanda.github.io/">About Us</a></li>
                </ul>
            </nav>
            <!-- Navbar Mobile -->
            <nav class="mobile__menu">
                <div aria-label="logo">Juto Apps</div>
                <div class="icon__menu" id="menu__mobile"><a href="#" aria-label="hamburger button">☰</a></div>
            </nav>
            <nav id="drawer" class="navbar__mobile">
                <ul class="list__mobile">
                    <li class="item__mobile"><a href="">Home</a></li>
                    <li class="item__mobile"><a href="#">Favorite</a></li>
                    <li class="item__mobile"><a target="_blank" rel="noopener" href="https://aaneviannanda.github.io/">About Us</a></li>
                </ul>
            </nav>
            <!-- Jumbotron -->
            <div class="jumbotron">
                <div class="jumbotron__text">
                    <h1>Juto Apps</h1>
                    <p>- Anda kenyang kami senang -</p>
                </div>
            </div>
        </header>
        <main id="main__content">
            <!-- Content -->
            <section class="content">
                <h2>Explore Restaurant</h2>
                <div class="card__list" id="data__card">
                    <!-- Isi Card -->                  
            </section>
        </main>
        <footer>
            <a target="_blank" rel="noopener" href="https://aaneviannanda.github.io/">Copyright © 2022 | Juto Apps</a>
        </footer>
    </body>
</html>
